DATABASE_URL=mysql+pymysql://usuario:password@localhost/salud_db
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=
MODULOS_API_KEY=
URL_EDUCACION=http://localhost:5001
URL_SEGURIDAD=http://localhost:5002
URL_TRIBUTARIO=http://localhost:5003
